body,html {
	background-color: #000;
	padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
    font-size: 12px;
	overflow: hidden;
}
#wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	height: 100%;
	min-height: 480px;
	display: block;
	background-color: none;
    background-image: url('../img/app/bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1,h2,h3,h4,h5 {
	font-weight: normal;
	clear: none;
	display: block;
}
h1 {
	font-size: 2em;
    line-height: 1.5em;
	font-weight: 900;
	padding: 3px 0 0 0px;
	margin: 0px;
	text-align: center;
    text-transform: uppercase;
	background-color: #ff9900;
    border-bottom: 4px solid #fff;
}
h2 {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	text-align: right;
	padding: 0 5px 0 0;
	margin: 0 0 30px 0;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
h3 {
	line-height: 30px;
    color: #fff;
}
p, form {
    color: #fff;
}
form {
    margin: 0 0 10px;
}
select { width: 100%; margin-top: 5px; }
header,main,foooter {
	display: block;
	position: relative;
	clear: both;
}
header {
    height: 55px;
    margin-bottom: 10px;
    text-align: right;
}
main {
    margin: 20px auto 0 auto;
    height: 365px;
	max-width: 640px;
}
footer {
    background-image: url('../img/app/bg-footer.png');
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 100%;
    display: block;
    width: 100%;
	max-width: 640px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    margin: 0 auto;
	padding: 0;
}

article {
    height: 340px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
    padding: 0 10px;
}
article, #findBitizenResults, #findFloorResults {
	display: none;
}
li { 
	line-height: 23px;
}
.btn-success {
	width: 45%;
}
#default { display: block; }
#assetCounts {
    margin: 2% auto 4%;
    padding: 0;
    width: 90%;
}
#assetCounts li {
    display: inline;
    clear: none;
    float: left;
    color: rgba(255,255,255,0.9);
    text-transform: uppercase;
    width: 100px;
}
#bitizenName {
    height: 30px;
    font-size: 20px;
	width: 100%;
}
#footer-nav {
	margin: 0 auto; 
	padding: 0;
	width: 100%;
	height: 45px;
	display: block;
	clear: both;
	list-style: none;
}
#footer-nav li {
	background-color: #111;
	diaplay: inline-bliock;
	width: 12.5%;
	height: 45px;
	clear: none; 
	float: left;
	text-align: center;
}

#footer-nav li a {
	width: 100%;
	height: 45px; 
	display: block;
	clear: both;
	outline: none;
}